<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CDP_VI_HW1/src/com/epam/cdp/volha_ivanova/task3/Runner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.epam.cdp.volha_ivanova.task3.Runner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CDP_VI_HW1"/>
</launchConfiguration>
